html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  /* font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif; */
  margin: 0 auto;
  background: linear-gradient(135deg, #f3eddf, #ede6d3, #e4d0b0, #dfccaf);
}

@media (min-width: 425px) {
  body {
    font-size: 16px;
  }
}

@media (min-width: 800px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 20px;
    max-width: 1250px;
  }
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.button {
  display: block;
	font: inherit;
  text-align: center;
  text-transform: lowercase;
	cursor: pointer;
	letter-spacing: 2px;
	padding: 12px 12px;
  margin: 0 auto;
	border-radius: 15px;
	min-width: 180px;
	color: #2e2e2e;
	background: radial-gradient(ellipse farthest-corner at 50% 50%, #fff, #dfccaf);
}

.button:hover {
	filter: saturate(150%);
}

.button:active {
  background: radial-gradient(ellipse farthest-corner at 50% 50%, #fff, #ede6d3);
}

/* .button:focus {
  outline: none;
	box-shadow: 0 0 5px 3px #ff000050;
} */

.button:disabled {
  opacity: 0.3;
	background-color: #e5e5e5;
  cursor: not-allowed;
}